<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Welcome To BrainyBoss Library</h2>
    <h3>By Tunbosun Omojola</h3>
    <a href="/library" class="btn">View Library</a>
  </div>
</header>


<%- include('partials/footer'); -%>